body {
  background-color: black;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin-top: 10%;
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 1px solid black;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic{
  height: 600px;
  width: 400px;
  object-fit: cover;
  border: 1px solid black;
}

h2{
  color: black;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}